<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 设备反控查询 -->
<mapper namespace="com.lenovo.iot.digitaltwin.rc">
    <!--
        查询DT实例
    -->
    <select id="getIstDetailById" resultMap="istDetailByIdResultMap">
        select
	        ist.id as ist_id,
	        attr.id as attr_id
        from dt_instance as ist
        left join dt_instance_atrr attr
        on ist.id = attr.instance
        where ist.id = #{id};
    </select>
    <resultMap id="istDetailByIdResultMap" type="DigitalTwinInstance">
        <id property="id" column="ist_id" />
        <collection property="attr" ofType="DigitalTwinInstanceAttr">
            <id property="id" column="attr_id" />
        </collection>
    </resultMap>

    <!--
        查询DT实例属性
    -->
    <select id="getIstAttrListById" resultType="DigitalTwinInstanceAttr">
        select id, deviceid, metric,expectvalue
        from dt_instance_atrr where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--
        更新DT实例属性期望值
    -->
    <update id="updateIstAttrExpectValue" parameterType="DigitalTwinInstanceAttr">
        update dt_instance_atrr
        set expectvalue=#{expectvalue},mtime=now(),stime=now()
        where id=#{id}
    </update>
</mapper>