<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DT实例属性 -->
<mapper namespace="com.lenovo.iot.digitaltwin.istattr.open">

    <!-- 根据ID查询DT实例属性 -->
    <select id="getById" resultMap="dtIstAttrDetailResultMap">
        select
            ist.id as ist_id,
            ist.instance as ist_instance,
            ist.name as ist_name,
            ist.displayname as ist_displayname,
            ist.attrtype as ist_attrtype,
            ist.datatype as ist_datatype,
            ist.value as ist_value,
            ist.expectvalue as ist_expectvalue,
            ist.unit as ist_unit,
            ist.metric as ist_metric,
            ist.deviceid as ist_deviceid,
            ist.ctime as ist_ctime,
            ist.mtime as ist_mtime,
            ist.atime as ist_atime,
            ist.stime as ist_stime
        from dt_instance_atrr as ist
            where ist.id = #{id};
    </select>
    <resultMap id="dtIstAttrDetailResultMap" type="DigitalTwinInstanceAttr">
        <id property="id" column="ist_id" />
        <result property="instance" column="ist_instance" />
        <result property="name" column="ist_name" />
        <result property="displayname" column="ist_displayname" />
        <result property="attrtype" column="ist_attrtype" />
        <result property="datatype" column="ist_datatype" />
        <result property="value" column="ist_value" />
        <result property="expectvalue" column="ist_expectvalue" />
        <result property="unit" column="ist_unit" />
        <result property="metric" column="ist_metric" />
        <result property="deviceid" column="ist_deviceid" />
        <result property="ctime" column="ist_ctime" typeHandler="com.lenovo.iot.digitaltwin.handler.Time2LongHandler" />
        <result property="mtime" column="ist_mtime" typeHandler="com.lenovo.iot.digitaltwin.handler.Time2LongHandler" />
        <result property="atime" column="ist_atime" typeHandler="com.lenovo.iot.digitaltwin.handler.Time2LongHandler" />
        <result property="stime" column="ist_stime" typeHandler="com.lenovo.iot.digitaltwin.handler.Time2LongHandler" />
    </resultMap>
</mapper>