<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DT实例属性 -->
<mapper namespace="com.lenovo.iot.digitaltwin.istattr.front">
    <!--
        添加DT实例属性，批量添加
    -->
    <insert id="add" parameterType="DigitalTwinInstanceAttr">
        insert into
        dt_instance_atrr(instance,name,displayname,attrtype,datatype,value,expectvalue,unit,metric,deviceid,ctime,mtime)
        values
        <foreach collection="list" item="t" separator=",">
            (#{t.instance},
            #{t.name},
            #{t.displayname},
            #{t.attrtype},
            #{t.datatype},
            #{t.value},
            #{t.expectvalue},
            #{t.unit},
            #{t.metric},
            #{t.deviceid},
            now(),
            now())
        </foreach>
    </insert>

    <!--
        更新DT实例属性
    -->
    <update id="update" parameterType="DigitalTwinInstanceAttr">
        update dt_instance_atrr
        set expectvalue=#{expectvalue},mtime=now()
        where id=#{id}
    </update>

    <!--
        删除DT实例模板
    -->
    <delete id="delete" parameterType="java.lang.Long">
        delete from dt_instance_atrr where instance = #{id}
    </delete>

    <!--
        查询DT实例属性
    -->
    <select id="getListById" resultType="DigitalTwinInstanceAttr">
        select id,instance, deviceid, metric,expectvalue,attrtype
        from dt_instance_atrr where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>