<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>验证WebSocket协议的实时推送</title>
</head>
<body>
<script type="text/javascript">
    var socket = new WebSocket("ws://localhost:8400/dt/open/websocket/v1/instance/attribute")
    var name = "web: " + new Date();
    socket.onopen = function () {
        socket.send("webinit" + "-" + name);
    }
    socket.onmessage = function (messageMeta) {
        var message = messageMeta.data
        document.getElementById("show").innerHTML += "<br>" + message
    }
</script>
…………………………………………
<div id="show">初始的一句话</div>
</body>
</html>