<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hw.blog.dao.Userdao">

    <resultMap id="user" type="com.hw.blog.model.User">
        <result column="id" property="id"/>
        <result column="ip" property="ip"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="photo" property="photo"/>
        <result column="level" property="level"/>
        <result column="registTime" property="registTime" typeHandler="com.hw.blog.handler.Time2LongHandler"/>
        <result column="birth" property="birth"/>
        <result column="age" property="age"/>
        <result column="phone" property="phone"/>
        <result column="nickname" property="nickname"/>
        <result column="activate" property="activate"/>
        <result column="code" property="code"/>
        <result column="del" property="del"/>
    </resultMap>
    <select id="getTotal" resultType="java.lang.Integer" parameterType="hashmap">
        select count(1) count from hw_users where del = 0
        <if test='name != null and  "%" != name'>
            and name like #{name}
        </if>
        <if test=" activate != null and activate != 2 ">
            and activate = #{activate}
        </if>
    </select>

    <select id="getList" resultMap="user" parameterType="hashmap">
        select
        id,ip,name,email,level,registTime,birth,age,phone,nickname,activate
        from hw_users where del = 0
        <if test='name != null and  "%" != name'>
            and name like #{name}
        </if>
        <if test=" activate != null and activate != 2 ">
            and activate = #{activate}
        </if>
        order by ${field} ${order}
        limit #{start},#{offset}
    </select>

    <select id="getById" resultMap="user" parameterType="hashmap">
		select id,ip,name,email,level,registTime,birth,age,phone,nickname
        from hw_users where id = #{id}
	</select>

    <insert id="addUser" parameterType="user" useGeneratedKeys="true"
            keyProperty="cer_id"
            keyColumn="id">
        insert into hw_users(ip,name,password,email,photo,level,registTime,birth,age,phone,nickname,activate,code)
        values(#{ip},#{name},#{password},#{email},#{photo},#{level},now(),#{birth},#{age},#{phone},#{nickname},#{activate},#{code})
    </insert>

    <update id="updateUser" parameterType="User" useGeneratedKeys="true" keyProperty="company_id" keyColumn="id">
        update hw_users set name = #{name}, email = #{email}, phone = #{phone} where id = #{id}
    </update>

    <select id="getPasswordById" resultMap="user" parameterType="hashmap">
		select id,name,email,telephone_number,nickname
		from hw_users where id = #{id}
	</select>

    <update id="updatePassword" parameterType="hashmap">
        update hw_users set password = #{password} where id = #{id}
    </update>

    <update id="activateUser" parameterType="java.lang.String">
        update hw_users set activate = 1 where code = #{code}
    </update>

    <update id="delUser" parameterType="java.util.List">
        update hw_users set del = 1 where
        <foreach item="item" collection="list" index="index">
            <choose>
                <when test="list.size == index+1">id = #{item}</when>
                <otherwise>id = #{item} or</otherwise>
            </choose>
        </foreach>
    </update>

    <select id="getPassWordById" resultMap="user" parameterType="java.lang.Long">
		select id,password from hw_users where id = #{id}
	</select>

</mapper>