<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>博客管理系统用户登录</title>
    <link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css"/>
    <link href="/login/css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $tab_li = $('#tab ul li');
            $tab_li.hover(function () {
                $(this).addClass('selected').siblings().removeClass('selected');
                var index = $tab_li.index(this);
                $('div.tab_box > div').eq(login).show().siblings().hide();
            });
        });
    </script>
</head>
<body>
<div class="m-login-bg">
    <div class="m-login" id="tab">
        <ul class="tab_menu">
            <li class="selected">用户登录</li>
            <li>管理员登录</li>
        </ul>
        <div class="m-login-warp tab_box">
            <form class="layui-form stu_login_error" action="/login.html" method="post">
                <div id="username">
                    <label>用户名：</label>
                    <input id="stu_username_hide" type="text" name="user" required lay-verify="required"
                           placeholder="用户名" autocomplete="off">
                </div>
                <div id="password">
                    <label>密&nbsp;&nbsp;&nbsp;码：</label>
                    <input id="stu_password_hide" type="password" name="pwd" required lay-verify="required"
                           placeholder="密码" autocomplete="off">
                </div>
                <div id="code">
                    <label>验证码：</label>
                    <input id="stu_code_hide" type="text" name="verity" required lay-verify="required" placeholder="验证码"
                           autocomplete="off">
                    <img class="verifyImg" onclick="this.src=this.src+'?c='+Math.random();"
                         src="/admin/images/login/yzm.jpg"/>
                </div>
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal" type="submit">确定</button>
                    </div>
                    <div class="layui-inline">
                        <button onclick="register();" class="layui-btn layui-btn-normal" type="button">注册</button>
                    </div>
                    <!--<div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                    </div>-->
                </div>
            </form>
        </div>
    </div>
</div>
<div class="bottom">©2018 Leting <a href="javascript:;" target="_blank">关于</a> <span>京ICP证XXXXX号</span></div>
<div class="screenbg">
    <ul>
        <li><a href="javascript:;"><img src="login/images/1.jpg"></a></li>
    </ul>
</div>
<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script>

    //跳转到注册页
    function register(){
        window.location.href='/register.html';
    }

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form(),
            layer = layui.layer;


        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            },
            password: [/(.+){6,12}$/, '密码必须6到12位'],
            verity: [/(.+){6}$/, '验证码必须是6位'],

        });

        //监听提交
        form.on('submit(login)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            });
            return false;
        });

    });
</script>
</body>
</html>
